<template name="contributions">
	{{> pagesNav}}

	<ul class="collection">
	{{> pages}}
	</ul>
</template>

<template name="contribution"> 
	<li class="collection-item avatar">
		<img src="{{this.user.avatarUrl}}" alt="" class="circle">
		<span class="title">
			<a href="{{this.user.htmlUrl}}">{{actor.login}}</a> {{event.message}} to <a href="{{repoUrl}}">{{repo.name}}</a>
		</span>
		<a href="{{event.htmlUrl}}">short url</a>
		<span class="right">{{formattedCreatedTime}}</span>
	</li>
</template>